.autocomplete {
    position: relative;
    width: 300px;
}

#search {
    width: 100%;
}

#suggestLayer {
    position: absolute;
    top: 20px;
    color: #666;
    padding: 0px;
    margin: 0px;
    width: 100%;
}

#suggestLayer li {
    border: 1px solid #bec8d8;
    list-style: none;
}

.user img {
    position: relative;
    float: left;
    margin-right: 10px;
}

.user p {
    line-height: 50px;
    margin: 0px;
    padding: 0px;
}

#loading {
    position: absolute;
    z-index:2;
    top: 3px;
    right: 0;
    animation: spin 2s linear infinite;
    display: none;
}

/* Define the keyframes for the spin animation */
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}