<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hobbies</title>
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/hobbies">hobbies</a></li>
      </ul>
    </nav>
    <h1>Hobbies</h1>
    <p>I like to do the following things:</p>
    <ul>
      <li><a href="/hobbies/netflix">netflix</a></li>
      <li><a href="/hobbies/running">Running</a></li>
      <li><a href="/hobbies/weight-training">weight-training</a></li>
    </ul>
  </body>
</html>
